.h1{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.inpt{
    display: flex;
    margin: 10px;
}

.btn{
    display: flex;
    margin: 10px;
}

.opt{
    display: flex;
    margin: 10px;
}